<div id="sidebar-wrapper">
  <div class="row">
    <h1>Monitorar Coleta</h1>
    <div class="col-md-12">
      <%= render 'edit_form', collect: @collect %>
    </div>
  </div>
</div>

<div class="controles">
  <button type="button" class="btn btn-info btn-left" onclick="left()">
    <span class="glyphicon glyphicon-arrow-left"></span>
  </button>
  <button type="button" class="btn btn-info btn-up" onclick="forward()">
    <span class="glyphicon glyphicon-arrow-up"></span>
  </button>
  <button type="button" class="btn btn-info btn-down" onclick="back()">
    <span class="glyphicon glyphicon-arrow-down"></span>
  </button>
  <button type="button" class="btn btn-info btn-right" onclick="right()">
    <span class="glyphicon glyphicon-arrow-right"></span>
  </button>
  </button>
  <button type="button" class="btn btn-success btn-collect">
    <span class="glyphicon glyphicon-download-alt"></span>
  </button>
</div>

<a href="#menu-toggle" class="btn btn-default " id="menu-toggle">
  <span class="glyphicon glyphicon-menu-hamburger" id="menu-icon" aria-hidden="true"></span>
</a>

<div id="map"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaQjjH5bKQZa5VQtSm6gUIIxD8xJRN8ss&callback=initMap&libraries=geometry"
type="text/javascript"></script>

<%= javascript_include_tag 'sidebar' %>
<%= javascript_include_tag 'cookie_manager' %>
<%= javascript_include_tag 'monitor_map' %>
