<div class="row">
<h1>Nova Coleta</h1>
<%= link_to 'Back', collects_path %>
</div>

<div class="row">

    <div class="col-md-6">
        <%= render 'form', collect: @collect %>
    </div>    

    <div class="col-md-6">

        <div id="content">

          <div id="floating-panel">
            <input onclick="deleteLastMarker();" type=button value="Deletar Ultima Localização">
        </div>

        <div id="map"></div>
    </div>
</div>    

</div>



<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaQjjH5bKQZa5VQtSm6gUIIxD8xJRN8ss&callback=initMap"
type="text/javascript"></script>
<script>
    var map;
    var markers = [];

    function setValuesOnFields(amountOfMarkers) {
        amountOfMarkers--;
        $("#collect_measures_attributes_" + amountOfMarkers + "_latitude").val(markers[markers.length - 1].getPosition().lat());
        $("#collect_measures_attributes_" + amountOfMarkers + "_longitude").val(markers[markers.length - 1].getPosition().lng());
    }
    function initMap() {
        var lat_lng = {lat: -15.820315, lng: -47.832984};
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: lat_lng,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        });
        // This event listener will call addMarker() when the map is clicked.
        map.addListener('click', function (event) {
            addMarker(event.latLng);
            setValuesOnFields(markers.length);
        });
        var infoWindow = new google.maps.InfoWindow({map: map});
    }
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
    }
    // Adds a marker to the map and push to the array.
    function addMarker(location) {
        if (markers.length < 3) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            markers.push(marker);
        }
    }
    // Deletes all markers in the array by removing references to them.
    function deleteLastMarker() {
        markers[markers.length - 1].setMap(null);
        markers.pop();

        var amountOfMarkers = markers.length;
        $("#collect_measures_attributes_" + amountOfMarkers + "_latitude").val("");
        $("#collect_measures_attributes_" + amountOfMarkers + "_longitude").val("");
    }
</script>