html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  width: 100%;
  left: 0;
  height: 91%;
  margin: 0 auto 0;
}

#floating-panel {
  position: absolute;
  left: 50%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
  margin: 15px;
}

#panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
}

#panel, .panel {
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#panel select, #panel input, .panel select, .panel input {
  font-size: 15px;
}

#panel select, .panel select {
  width: 100%;
}

#panel i, .panel i {
  font-size: 12px;
}

.delete-location{
		right: 10px;
		top: 68px;
		position: absolute;
		z-index: 999;
}

.controles{
  z-index: 999;
  position: fixed;
  right: 0;
  /* width: 0; */
  height: 100%;
  margin-left: 10px;
  overflow-y: auto;
  background: #FFF;
  padding: 20px;
  margin: 50px;
  height: 200px;
  bottom: 0;
  width: 200px;
}

.btn-up, .btn-down, .btn-left, .btn-right, .btn-collect {
  position: absolute;
}

.btn-up {
  top: 29px;
  left: 76px;
}
.btn-down {
  bottom: 24px;
  left: 76px;
  }
.btn-left {
  left: 20px;
  top: 80px;
}
.btn-right {
  right: 20px;
  top: 80px;
}
.btn-collect {
  right: 75px;
  top: 80px;
}
